/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

body {
    font-family:'Lato', sans-serif;
    background-color:#fbfbfb;
    font-size: 18px;
    line-height: 1.2;
    color: #0f0f0f;
    max-width: 100%;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px -5px #5f5f5f;
    background-color:#3b6d6c;
}

.logo {
    width: 100px;
    margin-left: 15px;
}

.switch {
    background: #343d5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-left: 5px;
}

.switch::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: #fbfbfb;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0,.2);
}

.switch span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    background: none;
    color: #fbfbfb;
}

.switch.active {
    background-color: orange;
    color: #0f0f0f;
}

.switch.active::after {
    right: 0;
    left: unset;
}

img {
    max-width: 100%;
}

figure {
    display: flex;
    justify-content: center;
}

img.presentacion {
    width: 400px;
    border-radius: 50%;
    cursor: pointer;
}

img.presentacion:hover,
.logo:hover {
    transform: scale(1.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.70);
    border-radius: 3px;
    transition: all .3s ease;
}

h1 {
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 0%;
}

h2 {
    font-size: 28px;
}

h1,h2 {
    text-align: center;
}

#inicio {
    padding: 100px 30px 0 30px;
}

li.item-menu a {
    padding: 10px;
    display: inline-block;
    color: beige;
}

li.item-menu:hover,
li.item-menu a.active,
.alinear-iconos:hover {
    background: rgba(121, 227, 239, 0.3);
    transition: background-color 0.4s;
}

li.item-menu a:hover {
    font-style: italic;
    font-weight: bold;
    color: rgb(170, 219, 239);
}

.alinear-iconos:hover,
button:hover {
    transform: scale(1.5);
}

#contacto {
    padding: 250px 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    min-height: 100vh;
}

p {
    text-align: center;
    margin: 20px 0;
}

#boton {
    display: flex;
   justify-content: center;
}

a.boton {
    background-color: #3b6d6c;
    color:#fbfbfb ;
    font-size: 20px;
    border-radius: 50px;
    padding: 12px 20px;
    display: inline-block;
}

article.color {
    background-color: rgba(121, 227, 239, 0.3);
    border-radius: 10px;
    padding: 20px;
}

ul.iconos {
    display: flex;
    width: 300px;
    margin-left: 20px;
}

.alinear-iconos {
    margin: 20px;
}

a.boton:hover {
    background: rgba(54, 249, 242, 0.792);
    transition: background-color 0.4s;
    color: #0f0f0f;
    font-style: italic;
    font-weight: bold;
    transform: scale(1.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.70);
    border-radius: 3px;
    transition: all .3s ease;
}

.color_icon {
    background-color: beige;
}

.dark {
    background-color: #0f0f0f;
    color: beige;
    transition: .3s ease all;
}

body.dark header {
    background: #222222;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body.dark footer {
    background: #222222;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

footer {
    background-color:#3b6d6c;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbfbfb;
}

 /* para hacer el menu hamburguesa */

@media screen and (max-width:550px) {
   .abrir-menu,
   .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.50rem;
        background-color: transparent;
        color: #fbfbfb;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    #btn-dark{
       width: 40px;
       height: 20px;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top:0;
        right: 0;
        padding-bottom: 0%;
        background-color: #3b6d6c;
        padding: 2rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .menu {
        flex-direction: column;
        align-items: end;
    }

    .menu li a,
    #cerrar {
    color: beige;
    }
}

@media screen and (min-width: 551px) {
    nav {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    
    ul.menu {
        display: flex;
        font-size: 20px;
       }

    .abrir-menu,
    .cerrar-menu {
        display: none;
}
}

@media (min-width: 1024px){
    section{
        display: flex;
        flex-direction: row;
    }

    #inicio{
        padding-top: 200px;
        margin: 40px;
        text-align: center;
        align-items: center; 
        padding-left: 30px;
    }

    h1{
        font-size: 48px;
    }

    h2{
        font-size: 32px;
    }

    figure {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .inicio{
        text-align: justify;
    }

    .color{
        align-items: center;
    }

    img.presentacion {
        height: 400px;
    }

    ul.iconos {
        padding-top: 40px;
        padding-bottom: 70px;
    }

      /*  menu hamburguesa */
   
   .abrir-menu,
   .cerrar-menu {
    display: none;
}
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
